@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,700,400italic,700italic&subset=latin,cyrillic);
* {box-sizing: border-box;}
@font-face {
  font-family: 'Agency FB';
  src: url(Sources/Agency\ FB.ttf)
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 100%;
    height: -webkit-fill-available;
    font-family: 'Playfair Display', serif;
    background-color: whitesmoke;
}

header{
  width: 100%;
  background-color: #1F1F1F;
}

.logo {
  background-image: url(Images/Header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /*margin: 0;*/
  padding: 5% 0;
  display: block;
  background-size: 100%;
}

header span{
  color: #ea7120;
  font-size: 450%;
  font-family: 'Agency FB';
  margin: 0 auto;
  position: relative;
  left: 50%;
  margin-left: -105px;
}

nav {
  margin: auto;
}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.topmenu > li {
  display: inline-block;
  margin: auto 1%;
  position: relative;
  padding: 5px;
}

.topmenu > li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: block;
  padding: 10px 7px;
  font-size: 15pt;
  text-decoration: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  transition: .2s linear;
  font-weight: bold;
}

.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 15px;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 140%;
  z-index: 10;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.four{
    margin: 0 auto;
    width: 95%;
}

.four ul {
    background: #1F1F1F;
    opacity: 100%;
  }

.four .submenu {
    -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
      transform: scaleY(0);
    -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
    background-color: rgba(25, 25, 25, 1);
}

.four ul li:hover .submenu {
    -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
}

.four ul a {
    color: #9B4222;
}

.submenu li a {
    border-bottom: 1px solid rgba(255,255,255,.3);
    color: #9B4222;
    text-align: -webkit-match-parent;
}

.d2{
    float: right;
    margin: 7px 5px 2px 0px;
}

.d2 input, .d2 button {
  border: none;
  outline: none;
  border-radius: 3px;
}

.d2 input {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}

.d2 button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
  cursor: pointer;
}

.d2 button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

  form {
    position: relative;
    width: 100%;
    margin-right: 100px;
  }

  main {
    margin: 0 auto;
    font-size: 17pt;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }

  .text {
    padding: 1% 12% 2% 20%;
    margin: 0 auto;
    clear: both;
  }

  .container {
    padding: 2% 10% 2% 10%;
    display: block;
    clear: both;
  }

  .container p {
    margin: 0;
    padding-bottom: 5%;
  }

  .container h4 {
    margin: 5px 0px 10px 10%;
    text-align: center;
    display: block;
  }

  .container img {
    float: left;
    width: 400px;
    margin: 1.5% 25px 25px 0px;
  }

  .container a{
    text-decoration: none;
    color: black;
  }
  .container p a{
    text-decoration: none;
    color: #F15B42;
  }

  footer {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 auto;
      background-image: url(Images/Footer.svg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 25px;
      position: relative;
      font-family: 'Open Sans', sans-serif;
  }

  h3, h2{
    text-align: center;
    margin: 2% auto;
  }

  .migrate {
    margin: 3% auto 6% auto;
    width: max-content;
    background-image: url(Images/Button_1.jpg);
  }
  .migrate a {
    text-align: center;
    color: white;
    display: block;
    padding: 20px 52px;
    font-size: 15pt;
    text-decoration: none;
    outline: none;
    font-family: 'Gotham', sans-serif;
    transition: .2s linear;
    font-weight: bold;
  }

  table {
    width: 70%;
    margin: 3% auto;
    border-collapse: collapse;
  }

  tr {
    display: table-row;
  }

  td {
    display: table-cell;
    vertical-align: inherit;
    border: 2px solid #1F1F1F;
    padding: 0% 2%;
  }

  .copyright{
    text-align: center;
    color: #ea7120;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .copyright a{
    text-decoration: none;
    color: #ea7120;
  }

  footer .fa{
    padding: 0;
  }

  .links{
    position: absolute;
    bottom: 20px;
    right: 70px;
  }

  .social {
    display: inline-block;
  }

  .social a {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 10px 10px 0;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
  }

  .social a:hover {color: #fff;}

  .social svg {
    margin-top: 7px;
    width: 32px;
    height: 32px;
  }

  .discord a:hover {background: #7289da;}
  .github a:hover {background: #191919;}
  .telegram a:hover {background: #249bd7;}

  #upbutton {
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
    color: #ea7120;
    border-radius: 20%;
    padding-top: 5px;
    padding-left: 9px;
    background-color: #1F1F1F;
  }

  .form-wrap {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .form-wrap a{
    text-decoration: none;
    color: #ea7120;
  }

  .form-wrap *{transition: .1s linear}

  .profile {
    width: 240px;
    float: left;
    text-align: center;
    padding: 30px;
  }

  form {
    background: #1F1F1F;
    padding: 30px;
    border-radius: 30px;
    color: #7b7b7b; 
  }

  .form-wrap:after, form div:after {
    content: "";
    display: table;
    clear: both;
  }

  form div {
    margin-bottom: 15px;
    position: relative;
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-top: 50px;
  }

  h1:after {
    content: "\f138";
    font-size: 40px;
    font-family: "FontAwesome";
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  label, span {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #ea7120;
  }

  input[type="text"], input[type="name"] {
    border-width: 0;
    outline: none;
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    background: #e6e6e6;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

  input[type="text"]:focus, input[type="name"]:focus {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
  }

  select {
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

  select::-ms-expand {
    display: none;
  }

  .select-arrow {
    position: absolute;
    top: 42px;
    right: 10px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
  }

  button {
    padding: 10px 0;
    border-width: 0;
    display: block;
    width: 120px;
    margin: 25px auto 0;
    background: #ea7120;
    color: whitesmoke;
    font-size: 15px;
    outline: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
  }
  .comment{
    width: 100%;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 8px 15px;
    background: #e6e6e6;
  }

  @media (max-width: 600px) {
    .form-wrap {margin: 20px auto; max-width: 550px; width:100%;}
    .profile, form {float: none; width: 100%;}
    h1 {margin-top: auto; padding-bottom: 50px;}
    form {border-radius: 0 0 20px 20px;}
  }
